@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(to right, rgba(255,255,255,.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}